@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mea+Culpa&display=swap');
@import "tailwindcss";

:root {
  --background: #f3e8cc;
  --foreground: #0d1617;
  
  --brand-obsidian: #0d1617;
  --brand-green: #18542a;
  --brand-yellow: #ffc928;
  --brand-red: #d52518;
  --brand-orange: #f96015;
  --brand-leaf: #9abc05;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-obsidian: var(--brand-obsidian);
  --color-brand-green: var(--brand-green);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-red: var(--brand-red);
  --color-brand-orange: var(--brand-orange);
  --color-brand-leaf: var(--brand-leaf);
  --color-brand-sand: var(--background);
  
  --font-brand: 'Cabin', sans-serif;
  --font-emphasis: 'Mea Culpa', cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-brand);
  overflow-x: hidden;
}

.emphasis {
  font-family: var(--font-emphasis);
  font-weight: 400;
}
